<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <!-- <div class="container d-flex"> -->
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "img.png" %>
    <% end %>
</div>
</div><div class="container">
  <%= render "form", cocktail: @cocktail %><br>
</div>
